{% extends 'front_base.html' %}
{% block title %}
    搜索
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/payinfo.min.css' %}">
{% endblock %}


{% block content %}
    <div class="main-group">
<!--侧边栏-->
        <div class="main">
            <div class="payinfo-img">
                <img src="{% static 'image/l2.min.jpg' %}" alt="">
            </div>
            <ul class="payinfo-detail">
                <li>
                    <div class="img">
                        <img src="{% static 'image/l5.min.jpg' %}" alt="">
                    </div>
                    <div class="detail">
                        <h5>如何写好一份企划书</h5>
                        <div class="item">
                            一份好的商业企划书，是创业好的开始
                        </div>
                        <div class="price">
                            ￥1.77
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="{% static 'image/l5.min.jpg' %}" alt="">
                    </div>
                    <div class="detail">
                        <h5>如何写好一份企划书</h5>
                        <div class="item">
                            一份好的商业企划书，是创业好的开始
                        </div>
                        <div class="price">
                            ￥1.77
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="{% static 'image/l5.min.jpg' %}" alt="">
                    </div>
                    <div class="detail">
                        <h5>如何写好一份企划书</h5>
                        <div class="item">
                            一份好的商业企划书，是创业好的开始
                        </div>
                        <div class="price">
                            ￥1.77
                        </div>
                    </div>
                </li>
            </ul>
        </div>
		<div class="main-side">
			<div class="title">
				<div class="title-item1">在线课堂</div>
				<div class="title-item2"><a href="">更多</a></div>
			</div>
			<div class="img">

			</div>
			<div class="title">
				<div class="title-item1">
					关注小饭桌
				</div>
			</div>
			<div class="follow">
				<div class="follow-left">
					<div class="follow-item follow-item1">
						<a href="">
							小饭桌创业课堂
						</a>
					</div>
					<div class="follow-item follow-item2">
						<a href="">
							小饭桌创业课堂
						</a>
					</div>
					<div class="follow-item follow-item3">
						<a href="">
							小饭桌创业课堂
						</a>
					</div>
				</div>
				<div class="follow-right">
					<div class="share">
						<img src="{% static 'image/share.min.jpg' %}" alt="">
						<div>扫码关注小饭桌</div>
						<div>微信公众平台</div>
						<div>xfz007</div>
					</div>
				</div>
			</div>
			<div class="title">
				热门推荐
			</div>
			<div class="hot">
				<div class="hot-article">
					<h4><a href="">
						王健林卖掉进军海外首个项目:17亿售伦敦...
					</a></h4>
					<div class="article-footer">
						<span>深度报道</span>
						<span class="author">admin</span>
						<span>04-04 18:45:49</span>
					</div>

				</div>
				<div class="hotimg">
					<img src="{% static 'image/l4.min.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</div>
{% endblock %}